<%- include('./partials/header') %>

    <div class="page-content">
        <div class="container booknote-big background-image">
            <div class="left-column">
                <div class="book-cover">
                    <img src="<%= cover %>" alt="Book Cover"/>   
                </div>
                <div class="bookinfo-big">
                    <div class="date">
                        <p>date of read: <%= book.date %></p>
                    </div>
                    <div class="rating">
                        <p>rating: <%= book.rating %></p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <h1><%= book.title %></h1>
                <div class="bookreview-big">
                    <p><%= book.review %></p>
                </div>
            </div>
            <form action="/" method="get">
                <button type="submit" class="btn" id="go-back-btn">
                    <span class="material-symbols-outlined">close_small</span>
                </button>
            </form>
            <div class="buttons">
                <form action="/edit" method="get">
                    <input type="hidden" name="bookId" value="<%= book.id %>">
                    <button type="submit" class="btn btn-custom" id="edit-btn">Edit</button>
                </form>
                <form action="/delete" method="get">
                    <input type="hidden" name="bookId" value="<%= book.id %>">
                    <button type="submit" class="btn delete-btn" id="delete-btn">Delete</button>
                </form>
            </div>
        </div>
    </div>


<%- include('./partials/footer') %>